### QUICK REVISION NOTES 12

In [4]:
# Avoiding warning
import warnings
warnings.filterwarnings('ignore')

# Importing additional packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Seaborn

1. Seaborn is a python data visualisation library built on top of matplotlib
2. It provides a high-level interface for drawing attractive and informative statistical graphs

### Importing seaborn

In [5]:
import seaborn as sns
print(sns.__version__)
print(len(dir(sns)))

0.11.0
97

In [ ]:
# Comman type of plots in seaborn

        # sns.distplot
        # sns.kdeplot
        # sns.rugplot
        # sns.jointplot
        # sns.heatmap
        # sns.lmplot
        # sns.pairplot
        # sns.stripplot
        # sns.swarmplot
        # sns.boxplot
        # sns.violinplot
        # sns.catplot

In [6]:
# Importing dataset for visualisation
pkmn = pd.read_csv('Pokemon.csv')
pkmn.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False

In [ ]:
sns.histplot